<header class="p-3 bg-dark text-white">
  <div class="container">
    <div
      class="
        d-flex
        flex-wrap
        align-items-center
        justify-content-center justify-content-lg-start
      "
    >
      <ul
        class="
          nav
          col-12 col-lg-auto
          me-lg-auto
          mb-2
          justify-content-center
          mb-md-0
        "
      >
        <li>
          <a href="/" class="nav-link px-2 text-secondary"
            >Пофамильные списки лиц, подавших документы в БФУ им. И. Канта</a
          >
        </li>
        <!-- <li>
          <a href="/exam/" class="nav-link px-2 text-secondary">Экзамен</a>
        </li>
        <li>
          <a href="/rating/" class="nav-link px-2 text-secondary">Рейтинг</a>
        </li> -->
      </ul>
    </div>
  </div>
</header>

<script>
  if (document.location.pathname.startsWith('/rating')) {
    document
      .querySelector('.nav-link[href="/rating/"]')
      .classList.remove('text-secondary')
    document.querySelector('.nav-link[href="/rating/"]').style.color = 'white'
  } else if (document.location.pathname.startsWith('/exam')) {
    document
      .querySelector('.nav-link[href="/exam/"]')
      .classList.remove('text-secondary')
    document.querySelector('.nav-link[href="/exam/"]').style.color = 'white'
  } else {
    document
      .querySelector('.nav-link[href="/"]')
      .classList.remove('text-secondary')
    document.querySelector('.nav-link[href="/"]').style.color = 'white'
  }
</script>
