<header class="p-3 bg-dark text-white">
  <div class="container">
    <div
      class="
        d-flex
        flex-wrap
        align-items-center
        justify-content-center justify-content-lg-start
      "
    >
      <ul
        class="
          nav
          col-12 col-lg-auto
          me-lg-auto
          mb-2
          justify-content-center
          mb-md-0
        "
      >
        <li>
          <a href="/" class="nav-link px-2 text-secondary">
            Пофамильные списки лиц, подавших документы в БФУ им. И. Канта
          </a>
        </li>
        <li>
          <a href="/statistic/applicants/" class="nav-link px-2 text-secondary">
            Статистика
          </a>
        </li>
        <li>
          <a href="/analitics/applicants/" class="nav-link px-2 text-secondary">
            Анализ
          </a>
        </li>
        <!-- <li>
          <a href="/exam/" class="nav-link px-2 text-secondary">Экзамен</a>
        </li>
        <li>
          <a href="/rating/" class="nav-link px-2 text-secondary">Рейтинг</a>
        </li> -->
      </ul>
    </div>
  </div>
</header>

<script>
  if (document.location.pathname.startsWith('/statistic/applicants/')) {
    document
      .querySelector('.nav-link[href="/statistic/applicants/"]')
      .classList.remove('text-secondary')
    document.querySelector(
      '.nav-link[href="/statistic/applicants/"]'
    ).style.color = 'white'
  } else if (document.location.pathname.startsWith('/analitics/applicants/')) {
    document
      .querySelector('.nav-link[href="/analitics/applicants/"]')
      .classList.remove('text-secondary')
    document.querySelector(
      '.nav-link[href="/analitics/applicants/"]'
    ).style.color = 'white'
  } else {
    document
      .querySelector('.nav-link[href="/"]')
      .classList.remove('text-secondary')
    document.querySelector('.nav-link[href="/"]').style.color = 'white'
  }
</script>
