<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
    <title>Статистика</title>
  </head>
  <body>
    <%-include('../header.ejs') %>
    <div class="container">
      <div id="app" v-cloak>
        <input
          type="text"
          class="form-control m-2 mt-4"
          placeholder="Фильтр по дисциплине"
          v-model="subjectForm"
          :value="subjectForm"
        />
        <button class="btn btn-success m-2" @click="clickHandler">
          Фильтровать
        </button>
        <button class="btn btn-danger m-2" @click="resetFilters">
          Сбросить фильтры
        </button>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Уровень образования</th>
              <th scope="col">Дисциплина</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(el, idx) of list">
              <th scope="row">{{ idx + 1 }}</th>
              <td>{{ level }}</td>
              <td>{{ el[1] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
      new Vue({
        el: '#app',

        data: {
          list: [],
          index: 0,
          level: '',
          subjectForm: '',
        },

        async mounted() {
          const resp = await fetch(window.location.origin + '/api/rating/get/')
          const data = await resp.json()
          const idx = location.pathname.split('/rating/')[1]

          this.list = Object.entries(Object.entries(data)[idx][1])
          this.level = Object.entries(data)[idx][0]
        },

        methods: {
          async clickHandler() {
            const resp = await fetch(
              window.location.origin + '/api/rating/get/'
            )
            const data = await resp.json()
            const idx = location.pathname.split('/rating/')[1]

            this.list = Object.entries(Object.entries(data)[idx][1])
            if (this.subjectForm)
              this.list = this.list.filter(el => el[1] === this.subjectForm)
          },

          async resetFilters() {
            const resp = await fetch(
              window.location.origin + '/api/rating/get/'
            )
            const data = await resp.json()
            const idx = location.pathname.split('/rating/')[1]

            this.list = Object.entries(Object.entries(data)[idx][1])
          },
        },
      })
    </script>
  </body>
</html>
